{% extends 'base.html' %}
{% block first %}
  <h1 class="card-title text-center mt-5 mb-5">{{ title }}</h1>

  <div class="container">
    <h4 class="text-center">
        Я надеюсь вы всё записали, следующий этап.
        Вам надо перейти по ссылке - <a href="https://symbl.cc/ru/unicode/table/#greek-coptic">Unicode </a>
        <br>
        И расшифровать загадынный шифр, для того чтобы получить местонахождение подарка.
        <br>
        <br>
        Но перед этим я хочу поздравить вас с днём вашего рождения.
        Пожелать вам крепкого здоровья, счастья и всего всего самого наилучшего.
        Вы очень хороший человек, очень позитивный и так скажем лёгкий,
        с вами очень легко общаться и просто болтать не о чём, а это очень круто.
        Я уверен вы станете крутым спецом и вы обязательно добьётесь того чего хотите, 
        главное не сдаваться и идти вперёд. Какие бы не были трудности вам они под силу.
        Оставайтесь таким же добрым, весёлым, целеустремлённым, да и самое главное человеком.
        <br>
        <br>
        Ps. Я безумно рад что познакомился с таким классным человеком как вы.
        Спасибо вам большое.
        И ещё раз с днём рождения.
        <br>
        А теперь бегом разгадывать задачу ахахахахахаха.
    </h4>
  </div>
{% endblock %}